.blog-detail {
  border-bottom: 1px solid grey;
}

.blog-detail__img-wrapper {
  position: relative;
  width: 100%;
  height: 70vh;
  margin-bottom: var(--spacing-lg);
  padding: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: var(--shadow-y);
  overflow: hidden;
}

.blog-detail__backdrop-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
}

.blog-detail__img {
  position: absolute;
  left: 50%;
  height: 100%;
  padding: 0;
  transform: translateX(-50%);
  z-index: 100;
}

.blog-detail__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blog-detail__img__btn {
  position: absolute;
  right: var(--spacing);
  bottom: var(--spacing);
  outline: 1px solid #ccc;
  z-index: 10;
}

.blog-detail__img__btn__icon {
  color: white;
}

.blog-detail__img__overlay {
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
  z-index: 1;
}

.blog-detail__author-actions {
  display: flex;
  align-items: stretch;
  gap: 5px;
  margin-left: var(--spacing);
}

.blog-detail__author-actions button {
  text-transform: capitalize;
}

.blog-detail__views-counter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
  margin-left: auto;
  font-size: 13px;
}

.blog-detail__views-counter__item {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 25px;
  height: 25px;
  font-size: inherit;
  font-weight: 700;
  text-align: center;
  background-color: black;
  color: white;
}

.blog-detail__categories {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: var(--spacing-sm);
}

.blog-detail__categories > * {
  flex-shrink: 0;
}

.blog-detail__title {
  margin-bottom: var(--spacing);
}

.blog-detail__description {
  white-space: pre-line;
}