.home-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.home-page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  order: 10;
  width: 100%;
  margin-bottom: var(--spacing);
  padding-bottom: var(--spacing);
  border-bottom: var(--border-wide);
}

.home-page__blog-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing);
  margin-bottom: var(--spacing);
  order: 20;
}

.home-page__main-title {
  text-align: left;
  font-weight: 500;
}

.home-page__load-more-btn {
  margin-top: 0;
  margin-bottom: var(--spacing);
  align-self: center;
  font-size: var(--paragraph);
  text-transform: none;
}

@media screen and (max-width: 1200px) {
  .home-page__blog-grid {
    grid-template-columns: 1fr;
  }
}