:root {
  /* Variables de escala tipográfica */
  --heading-1: 4.209rem;
  --heading-2: 3.157rem;
  --heading-3: 2.369rem;
  --heading-4: 1.777rem;
  --heading-5: 1.333rem;
  --paragraph: 1rem;
  --text-small: 0.75rem;

  /* Variables de espaciado */
  --line-height: 1.5;
  --baseline: calc(var(--paragraph) * var(--line-height));
  --spacing: calc(var(--baseline) * 0.5);
  --spacing-sm: calc(0.75 * var(--spacing));
  --spacing-lg: calc(1.5 * var(--spacing));
  --spacing-xl: calc(3 * var(--spacing));

  /* Variables de color */
  --text-light: black;
  --text-dark: white;
  --bg-light: white;
  --bg-dark: black;
  --scrollbar-color: #bbbbbb;

  --text-color: var(--text-color-light);
  --bg-color: var(--bg-light);
  --bg-card-color: var(--bg-card-light);

  --mui-error: #d32f2f;
}

body {
  padding: 0;
  color: var(--text-color);
  background-color: var(--bg-color);

}

* {
  box-sizing: border-box;
  margin: 0;
}

.inner-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color);
}

.overflow-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}